body {
  background-color: #283746;
  color: #283746;
  font-size: 1.3em;
  line-height: 1.5em;
  font-family: 'Barlow', sans-serif;
  font-weight: 400;
  letter-spacing: 0.05em;
  padding: 2em 0;
}

img {
  width: 100%; }

.container {
  padding: 0em;
  width: 100%; }

p {
  text-align: center;
  margin-bottom: 1.5em; }

a {
  color: #000;
  text-decoration: none; }

a:hover {
  text-decoration: none; }

a:visited {
  color: #000;
  text-decoration: none; }

h1 {
  color: #283746;
  font-size: 1.6em;
  line-height: 1.2em;
  letter-spacing: 0.1em;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  /*background: -webkit-linear-gradient(#7d6e21, #fde777, #7d6e21, #c5b358);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;*/
}

h2 {
  font-family: 'Playfair Display', serif;
  font-size: 1.2em;
  line-height: 1.5em;
  letter-spacing: 0.1em;
  font-weight: 100;
  text-align: center;
  padding-bottom: 2em;
  background: -webkit-linear-gradient(#7d6e21, #fde777, #7d6e21, #c5b358);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h3 {
  font-family: 'Abril Fatface', cursive;
  font-size: 1.8em;
  line-height: 1.3em;
  letter-spacing: 0.04em;
  font-weight: 300;
  padding: 0;
  margin: 0;
  text-align: center;
  background: -webkit-linear-gradient(#7d6e21, #fde777, #7d6e21, #c5b358);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.stianDiv {
  float: left;
  left: 50%;
  position: relative;
}

.stianButton {
  position: relative;
  float: left;
  left: -50%;
  display: inline-block;
  width: 16em;
  padding: 0.9em 0.5em 0.8em 0.5em;
  margin: 0.1em;
  border-radius: 0.2em;
  font-size: 0.9em;
  font-weight: 800;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: center;
  font-family: 'Questrial', sans-serif;
  color: #000;
  line-height: 1em;
  background-image: linear-gradient(#7d6e21, #fde777, #7d6e21, #7d6e21);
  border: none;
}

.stianButton:hover {
  padding: 1em 0.6em 0.9em 0.6em;
  margin: 0em;
  width: 16.2em;
}


.cTickets {
  padding: 20px;
  margin: 0 40px;
  background-color: #fff;
  border-radius: 1rem 1rem 0 0;
}


@media screen and (min-width: 576px) {
.container {
    max-width: 2000px;
    width: 100%;
    margin-right: 0;
    margin-left: 0; }
}

/*
@media screen and (max-width: 640px) {
  body {
    font-size: 1.2em;
  }
}*/
