body {
  background-color: #1e1e1e !important;
  color: #fff;
  font-family: 'Courier New', Courier, monospace;
  padding: 0;
  text-align: center; }

img {
  margin: auto;
  width: 400px; }

.container {
  padding: 0;
  width: 100%; }

h1 {
  font-size: 3rem;
  line-height: 1.3;
  font-weight: 600;
  padding: 50px 50px; }

h2 {
  font-size: 2rem;
  line-height: 1.4;
  font-weight: 300;
  padding: 50px; }


@media screen and (min-width: 576px) {
.container {
    max-width: 2000px;
    width: 100%;
    margin-right: 0;
    margin-left: 0; }
}