@import url('https://fonts.googleapis.com/css2?family=Cardo&display=swap');

body {
  background-color: #6EBEFF !important;
  color: #323C46;
  font-family: 'Cardo', "Helvetica", sans;
  padding: 0;
  text-align: center; }

img {
  width: 100%; }

.container {
  padding: 0;
  width: 100%; }

h1 {
  font-size: 30px;
  line-height: 1.3;
  font-weight: 600;
  margin: 50px 20px 0px 20px; }

h2 {
  font-size: 16px;
  line-height: 1.4;
  font-weight: 400;
  padding: 20px 20px; }


@media screen and (min-width: 576px) {
.container {
    max-width: 2000px;
    width: 100%;
    margin-right: 0;
    margin-left: 0; }
}