body {
  background-color: #5AAABE !important;
  color: 323C46;
  font-family: "droid serif";
  padding: 0;
  text-align: center; }

img {
  width: 100%; }

.container {
  padding: 0;
  width: 100%; }

h1 {
  font-size: 2rem;
  line-height: 1.3;
  font-weight: 600;
  margin: 50px 50px 20px 50px; }

h2 {
  font-size: 1.2rem;
  line-height: 1.4;
  font-weight: 300;
  padding: 0 50px; }


@media screen and (min-width: 576px) {
.container {
    max-width: 2000px;
    width: 100%;
    margin-right: 0;
    margin-left: 0; }
}